language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email:
    recipients:
      - codesandtags@gmail.com
    on_success: always
    on_failure: always
node_js:
  - '12.13.1'
git:
  depth: 3
script:
  - yarn build
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $GITHUB_TOKEN
  local_dir: public
  on:
    branch: master
